@charset "UTF-8";

body {
        background-color: rgb(224, 224, 224);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vmin;
}
article, header  {
        box-shadow:  3px 3px 0px #66757A;
        background-color: #fafafa;
        padding: 10px;
}
li {
        display:inline;
        cursor: pointer;
        text-align: left;
}
footer {
    font-size: smaller;
}
nav {
        text-align: center;
}
var {
        color:rgb(91, 113, 134)
}
a {
        color: #970000;
        text-decoration: none;
}
a:active {
        color: yellow;
}
a:hover {
        color: rgb(255, 0, 0);
}
h1, h2 {
        text-align: center;
        padding: 10px;
}
h1{
        text-shadow: 1px 1px 0px #8ca4ac;
}
ul.Hide > li > ul > li, ul.Hide > li > ol > li, ul.Hide > li > ol, span.Hide > span {
        display: none;
}
ul.Hide > li:hover > ul > li, ul.Hide > li:hover > ol > li, ul.Hide > li:hover > ol {
        display:inline;
        cursor: alias;
}
