@charset "UTF-8";

body {
    background-color: rgb(226, 242, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
}
header > h1, header > h2 {
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0px #8ca4ac;
    box-shadow:  3px 3px 0px #66757A;
    background-color: #CFEFFA;
}
article {
        box-shadow:  3px 3px 0px #66757A;
        background-color: #CFEFFA;
        padding: 10px;
}
nav {
    text-align: center;
}
h1 {
    font-size: 3.5vmin;
}
h2 {
    font-size: 2.7vmin;
    text-align: center;
    box-shadow:  1px 1px 1px 1px #546469;
}
h3 {
    font-size: 2.3vmin;
    text-align: center;
    box-shadow:  1px 1px 1px 1px #546469;
}
h4 {
    font-size: 2.2vmin;
}
p {
    text-align: justify;
}
a {
    color: red;
    box-shadow:  0.5px 0.5px 0.5px 0.5px #546469;
    padding: 0.4vmin;
}
a:active {
            color: yellow;
}
a:hover{
        color: black;
}
ul.Hide > li > ul > li, ul.Hide > li > ol > li, ul.Hide > li > ol {
                                                display: none;
}
ul.Hide > li:hover > ul > li, ul.Hide > li:hover > ol > li, ul.Hide > li:hover > ol {
                            display:inline;
                            cursor: alias;
}
ul.Hide > li {
                display:inline;
                cursor: pointer;

}
